<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/style.css">


</head>

<body>

    <div class="container-form">

        <form method="POST">
            <h2>appointment page</h2>

            <div class="form-field">
                <p>Your name </p>
                <input type="text" placeholder="Your name" name="name">
            </div>
            <div class="form-field">
                <p>Your e-mail </p>
                <input type="text" placeholder="Your e-mail" name="mail">
            </div>
            <div class="form-field">
                <p>Date:- </p>
                <input type="text" name="date">
            </div>
            <div class="form-field">
                <p>Time:- </p>
                <input type="text" name="time">
            </div>
            <div class="form-field">
                <p>no of people:- </p>
                <input type="text" name="sel">

            </div>


            <button class="btn" id="btn1">submit</button>
            <!-- <script src="script.js"></script> -->











        </form>

    </div>

</body>

</html>